*{
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(to right, #233329, #417fb8);
}

.output{
    width: 400px;
    min-height: 100px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.current-operand{
    color: white;
    font-size: 2.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}
.flex-container{
    display: flex;
}

button{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    outline: none;
    border: 1px solid #111;
}

button:hover{
    background-color: #eee;
    color: #111;
    cursor: pointer;
    border: none;
}

.span-two{
    width: 200px;
}

.span-green{
    background-color: #417fb875;
    border: 1px solid #4276a7;
}